body {
	font-family: 'Roboto', sans-serif !important;
	color: #000;
  padding-top: 50px;
}

h1 {
	font-size: 72px !important;
	padding-bottom: 1cm;
}

ul {
    list-style-type: none !important;
}
img {
	text-align: left;
	vertical-align: middle;
	width: 100px;
  height: 100px;
}

.link{

}

.termslist{
	text-align: center;
	vertical-align: middle;
	padding-bottom: 2cm;
}

.generator{
	text-align: right;
	vertical-align: middle;

}



/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}
