body{
	font-family: 'Roboto', sans-serif;
	color: #000;
  padding-top: 50px;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}
#container h2{
	text-align:center;
	color:#045;
}

#quoteContainer{
	width:75%;
	background: #fff;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}

}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}
